<div class="starter-template">
    <!-- Заголовок вставляется из массива, переданного при инициализации шаблона-->
    <h1><%=header%></h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a
      mostly barebones HTML document.</p>
  </div>