<!doctype html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/style.bundle.css?v=35" />
  <title>Демо</title>
</head>
<!-- Класс вставляется из массива, переданного при инициализации шаблона-->
<body class=<%=bodyClass%>>