<div id="showReqModal" class="fs-modal animatedModal">

  <div class="close-showReqModal close-fs-modal-container">
    <img class="close-fs-modal" src="img/closebt.svg">
  </div>

  <div class="fs-modal-content pb-5">
    <div class="container text-center">
      <h2 class="mb-4 mb-md-5">Наши реквизиты</h2>
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-xl-7">
          <div>
            <p>Платёжный сервис KiloPay находится под управлением компании Общество с ограниченной ответственностью «Булроз»
            </p>
          </div>
          <div class="grid-table">

            <div class="grid-col">
              <div class="grid-cell">Юридический адрес</div>
              <div class="grid-cell">117218, г. Москва, ул. Б. Черёмушкинская, д. 22 пом. II, ком. 22</div>
            </div>
            <div class="grid-col">
              <div class="grid-cell">ИНН</div>
              <div class="grid-cell">7727301814</div>
            </div>
            <div class="grid-col">
              <div class="grid-cell">КПП</div>
              <div class="grid-cell">772701001</div>
            </div>
            <div class="grid-col">
              <div class="grid-cell">ОГРН</div>
              <div class="grid-cell">5167746191223</div>
            </div>
            <div class="grid-col">
              <div class="grid-cell">Телефон</div>
              <div class="grid-cell">+79153148110</div>
            </div>
            <div class="grid-col">
              <div class="grid-cell">E-mail</div>
              <div class="grid-cell">bulroz@yandex.ru</div>
            </div>
            <div class="grid-col">
              <div class="grid-cell">Генеральный директор</div>
              <div class="grid-cell">Шевякова Юлия Владимировна</div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
<div id="showSupportModal" class="fs-modal animatedModal">

  <div class="close-showSupportModal close-fs-modal-container">
    <img class="close-fs-modal" src="img/closebt.svg">
  </div>

  <div class="fs-modal-content pb-5">
    <div class="container text-center">
      <h2 class="mb-4 mb-md-5">Поддержка</h2>
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-xl-7">
          <h4><a href="mailto:support@kilopay.ru" class="text-light">support@kilopay.ru</a></h4>
        </div>
      </div>

    </div>

  </div>

</div>